*.swp
.idea
nohup.out

*.tar.gz
*.jpeg
*.pyc
__pycache__

CATKIN_IGNORE
.roslaunch.std*
**/trials/*
**/log_data/*
**/results/*
**/old_log_data/*
**/recovery_data/*
**/fwd_model_data/*
**/logdata
**/recovery_models/*
**/classifier_data/*
