*.swp
.idea
nohup.out

*.tar.gz
*.jpeg
*.pyc
__pycache__

CATKIN_IGNORE
.roslaunch.std*
**/log_data/*
**/results/*
**/old_log_data/*
**/recovery_data/*
**/recovery_trials/*
**/fwd_model_data/*
**/logdata
**/recovery_models/*
**/*trials/*
**/classifier_data/*
**/invariance_data/*
lightning_logs
wandb
artifacts
data/
meta-weight-net
