<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find link_bot_perception)/custom_rosconsole.conf"/>

    <param name="rope_num_points" value="25"/>
    <param name="rope_length" value="0.8"/>
    <node pkg="cdcpd" type="cdcpd_node" name="cdcpd_node" respawn="false" output="screen">
        <param name="kinect_channel" value="qhd"/>
        <param name="kinect_name" value="kinect2_victor_head"/>
        <param name="left_tf_name" value="left_tool"/>
        <param name="right_tf_name" value="right_tool"/>
        <param name="obstacle_cost_weight" value="0.001"/>
        <param name="min_distance_threshold" value="0.01"/>
        <param name="lambda" value="1.01"/>
        <param name="left_node_idx" value="0"/>
        <param name="right_node_idx" value="24"/>
    </node>
</launch>
